@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">Dashboard <small>Control Panel</small></h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <!-- SUMMARY -->
        <div class="card">
            <div class="card-header text-bold">Summary</div>
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa fa-file-text position-left text-muted"></i>
                            @Model.PostsCount
                        </div>

                        <div class="col-sm-4">
                            <i class="fa fa-users position-left text-muted"></i>
                            @Model.UsersCount
                        </div>

                        <div class="col-sm-4">
                            <i class="fa fa-comments position-left text-muted"></i>
                            @Model.CommentsCount
                        </div>
                    </div>

                    <p class="margin-top-20">RaptorCMS v1.0 running.</p>
                </div>
            </div>
        </div>
        <!-- /SUMMARY -->
        <!-- ACTIVITY -->
        <div class="card">
            <div class="card-header text-bold">Recent Activity</div>
            <div class="card-body">
                <div class="card-block">
                    @if (Model.RecentLogs != null) {
                        foreach (var log in Model.RecentLogs) {
                            <div class="row margin-bottom-5">
                                <span class="col-sm-4 text-muted">@log.DateCreatedUtc.ToString("MMM dd, hh:mm tt")</span>
                                <span class="col-sm-8">@log.LogLevel.ToString() - @(log.ShortMessage.Length < 50 ? log.ShortMessage : log.ShortMessage.Substring(0, 50))</span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <!-- /ACTIVITY -->
    </div>


    <!-- QUICK DRAFT -->
    <div class="col-md-6">
        <div id="draft-response-box" class="alert alert-success auth-box d-none" role="alert">
            <span class="small" id="#draft-response-message"></span>
        </div>
        <div class="card">
            <div class="card-header text-bold">Quick Draft</div>
            <div class="card-body">
                <div class="card-block">
                    <form method="post" id="form-quick-draft" asp-controller="Home" asp-action="QuickDraft" data-ajax="true" data-ajax-method="POST">
                        <div class="form-group">
                            <input type="text" asp-for="DraftTitle" placeholder="Enter post title" class="form-control" />
                        </div>

                        <div class="form-group">
                            <textarea asp-for="DraftContent" rows="4" class="form-control" placeholder="What's on your mind?'"></textarea>
                        </div>

                        <button class="btn btn-primary" type="submit">Save Draft</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /QUICK DRAFT -->
</div>

@section scripts {
    <script type="text/javascript" src="~/admin-theme/lib/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/admin-theme/lib/js/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $('#form-quick-draft').submit(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'post',
                dataType: 'json',
                cache: false,
                url: '@Url.Action("QuickDraft", "Home")',
                data: $(this).serialize(),
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    if (data.response == 'success') {
                        $('#draft-response-message').text(data.message);
                        $('#draft-response-box').slideDown();
                    }
                    else {
                        alert(data.message);
                    }
                });
        });
    </script>
}



