@using Microsoft.Data.OData.Atom
@model BlogPostCategoryViewModel
@{
    ViewBag.Title = "Blog Post Categories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h4 class="card-title text-bold">Blog Post Categories</h4>
    </div>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger auth-box mx-auto my-auto" role="alert">
        <div asp-validation-summary="ModelOnly" class="small"></div>
    </div>
}

@if (ViewBag.Status == "OK")
{
    <div class="alert alert-success auth-box mx-auto my-auto" role="alert">
        <span class="small">
            @ViewBag.Message
        </span>
    </div>
}

<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                Add New Category
            </div>
            <div class="card-block">
                @Html.Partial("_BlogPostCategoryView", Model)
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                All Categories
            </div>
            <div class="card-block">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Slug</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.BlogPostCategories)
                        {
                            <tr>
                                <td>@category.PostCategoryId</td>
                                <td>@category.Name</td>
                                <td>@category.Slug</td>
                                <td>@category.Description</td>
                                <td>
                                    <a href="@Url.Action("UpdateBlogPostCategory", "Blog", new { id = category.PostCategoryId })" class="small">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function() {
            var action = '@Model.PostAction';
            if (action == 'categories') $('#categoryForm')[0].reset();
        });
    </script>
}
