@model IEnumerable<BlogComment>
@inject IBlogService BlogService
@{
    ViewBag.Title = "Blog Comments";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h4 class="card-title text-bold">Blog Comments</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Comments
            </div>
            <div class="card-block">
                <table class="table table-striped table-hover datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Author</th>
                            <th>Email</th>
                            <th>IP Address</th>
                            <th>Post</th>
                            <th>Comment</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var comment in Model) {
                            <tr>
                                <td>@comment.CommentId</td>
                                <td>@comment.Person.DisplayName</td>
                                <td>@comment.Person.EmailAddress</td>
                                <td>@comment.AuthorIp</td>
                                <td>
                                    @{ var blogPost = BlogService.GetBlogPostById(comment.BlogPostId); }
                                    <a href="@Url.Action("BlogPost", "Home", new { area = "", link = blogPost.Link })" class="small" target="_blank">
                                        @blogPost.Title
                                    </a>
                                </td>
                                <td>@comment.Content</td>
                                <td>@comment.DateCreated.ToString("MMMM dd, yyyy hh:mm tt")</td>
                                <td>none</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <!-- PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="~/admin-theme/lib/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/admin-theme/assets/js/pages_datatables.min.js"></script>
    <!-- /PAGE LEVEL SCRIPTS -->
}

@section styles {
    <!-- PAGE LEVEL STYLESHEETS-->
    <link rel="stylesheet" href="~/admin-theme/lib/css/jquery.dataTables.min.css">
    <!-- /PAGE LEVEL STYLESHEETS-->
}