@using Raptor.Data.Models
@model IEnumerable<BlogPost>
@inject IBlogService BlogService
@{
    ViewBag.Title = "Blog Posts";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h4 class="card-title text-bold">Blog Posts</h4>
    </div>

    <div class="col-lg-6">
        <div class="pull-right">
            <a class="btn btn-primary" href="@Url.Action("create", "blog", new { area = "admin" })"><i class="fa fa-plus position-left"></i>Add New</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <table class="display datatable table table-stripped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Comments</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Actions</th>
                            <th class="d-none"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var post in Model) {
                            <tr>
                                <td>@post.BlogPostId</td>
                                <td>
                                    <a target="_blank" href="@Url.Action("BlogPost", "Home", new { area = "", link = post.Link })">@post.Title</a>
                                </td>
                                <td style="width: 80px;">@post.CreatedBy.DisplayName</td>
                                <td class="text-center">@BlogService.GetBlogPostCategoryById(post.PostCategoryId).Name</td>
                                <td class="text-center">@post.CommentsCount</td>
                                <td>
                                    @if (post.Status == PostStatus.Published)
                                    {
                                        <span class="badge badge-success">Published</span>
                                    }
                                    else if (post.Status == PostStatus.Draft)
                                    {
                                        <span class="badge badge-warning">Draft</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-default">Unknown</span>
                                    }
                                </td>
                                <td style="width: 120px;">@post.DateCreatedUtc.ToString("MMM dd, yy HH:mm ")</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Blog", new {id = post.BlogPostId})" class="btn btn-secondary">
                                        <i class="fa fa-pencil position-left"></i>
                                        Edit
                                    </a>
                                </td>
                                <td class="d-none"></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Comments</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Actions</th>
                            <th class="d-none"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="~/admin-theme/lib/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/admin-theme/assets/js/pages_datatables.min.js"></script>
    <!-- /PAGE LEVEL SCRIPTS -->
}

@section styles {
    <!-- PAGE LEVEL STYLESHEETS-->
    <link rel="stylesheet" href="~/admin-theme/lib/css/jquery.dataTables.min.css">
    <!-- /PAGE LEVEL STYLESHEETS-->
}