<div id="sidebar-main" class="sidebar sidebar-default">
    <div class="sidebar-content">
        <ul class="navigation">
            <li class="navigation-header">
                <span>Main</span>
                <i class="icon-menu"></i>
            </li>

            <li>
                <a href="@Url.Action("index", "home", new { area = "admin" })"><i class="fa fa-home"></i> <span>Dashboard</span></a>
            </li>

            <li class="navigation-header">
                <span>Core</span>
                <i class="icon-menu"></i>
            </li>

            <li>
                <a href="index.html"><i class="fa fa-pencil"></i> <span>Content</span></a>
                <ul>
                    <li><a href="#">Blog Posts</a></li>
                    <li><a href="#">Blog Comments</a></li>
                </ul>
            </li>

            <li>
                <a href="index.html"><i class="fa fa-user"></i> <span>Users</span></a>
                <ul>
                    <li><a href="@Url.Action("index", "users", new { area = "admin" })">Users</a></li>
                    <li><a href="@Url.Action("roles", "users", new { area = "admin" })">User Roles</a></li>
                </ul>
            </li>

            <li>
                <a href="index.html"><i class="fa fa-heart"></i> <span>Configuration</span></a>
            </li>

            <li>
                <a href="index.html"><i class="fa fa-table"></i> <span>System</span></a>
                <ul>
                    <li><a href="@Url.Action("systeminformation", "home", new { area = "admin" })">System Information</a></li>
                    <li><a href="@Url.Action("logs", "home", new { area = "admin" })">Logs</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>