<div id="sidebar-main" class="sidebar sidebar-default">
    <div class="sidebar-content">
        <ul class="navigation">
            <li class="navigation-header">
                <span>Main</span>
                <i class="icon-menu"></i>
            </li>

            <li>
                <a href="@Url.Action("index", "home", new { area = "admin" })"><i class="fa fa-home"></i> <span>Dashboard</span></a>
            </li>

            <li class="navigation-header">
                <span>Core</span>
                <i class="icon-menu"></i>
            </li>

            <li>
                <a href="#"><i class="fa fa-pencil"></i> <span>Content</span></a>
                <ul>
                    <li><a href="@Url.Action("index", "blog", new { area = "admin" } )">Blog Posts</a></li>
                    <li><a href="#">Blog Comments</a></li>
                    <li><a href="@Url.Action("categories", "blog")">Blog Post Categories</a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-user"></i> <span>Users</span></a>
                <ul>
                    <li><a href="@Url.Action("index", "users", new { area = "admin" })">Users</a></li>
                    <li><a href="@Url.Action("roles", "users", new { area = "admin" })">User Roles</a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-heart"></i> <span>Configuration</span></a>
            </li>

            <li>
                <a href="#"><i class="fa fa-table"></i> <span>System</span></a>
                <ul>
                    <li><a href="@Url.Action("systeminformation", "home", new { area = "Admin" })">System Information</a></li>
                    <li><a href="@Url.Action("logs", "home", new { area = "Admin" })">Logs</a></li>
                </ul>
            </li>

            <li class="navigation-header">
                <span>Others</span>
                <i class="icon-menu"></i>
            </li>

            <li>
                <a href="#"><i class="fa fa-user-circle-o"></i> <span>My Account</span></a>
                <ul>
                    <li><a href="@Url.Action("Settings", "Account", new { area = "Admin" } )">Account Settings</a></li>
                    <li><a href="@Url.Action("ChangePassword", "Account", new { area = "Admin" } )">Change Password</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>