@model DisplayPostViewModel
@{
    ViewBag.Title = Model.BlogPost.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-section py-lg">
    <div class="container">
        <div class="row blog-entries">
            <!-- MAIN BLOG POST -->
            <div class="col-md-12 col-lg-8 main-content">
                <h1 class="mb-4">@Model.BlogPost.Title</h1>
                <div class="post-meta">
                    <span class="category text-bold">@Model.PostCategoryName</span>
                    <span class="mr-2">@Model.BlogPost.DateCreatedUtc.ToString("MMMM dd, yyyy")</span> &bullet;
                    <span class="ml-2"><span class="fa fa-comments"></span> @Model.BlogPost.CommentsCount</span>
                </div>
                <div class="post-content-body">
                    @Html.Raw(Model.BlogPost.Content)
                </div>

                <!--- BLOG COMMENTS -->
                <div class="pt-5">
                    <h3 class="mb-5">6 Comments</h3>
                    <ul class="comment-list">
                        <li class="comment">
                            <div class="vcard">
                                <img src="images/person_1.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>Jean Doe</h3>
                                <div class="meta">January 9, 2018 at 2:21pm</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                <p><a href="#" class="reply">Reply</a></p>
                            </div>
                        </li>
                    </ul>

                    <!-- POST COMMENT -->
                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form action="#" class="p-5 bg-light">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="website">Website</label>
                                <input type="url" class="form-control" id="website">
                            </div>

                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn btn-primary">
                            </div>

                        </form>
                    </div>
                    <!-- /POST COMMENT -->
                </div>
                <!--- /BLOG COMMENTS -->

            </div>
            <!-- /MAIN BLOG POST -->
            
            <!-- SIDEBAR -->
            <div class="col-md-12 col-lg-4 sidebar">
                <!-- SEARCH BOX -->
                <div class="sidebar-box search-form-wrap">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>
                <!-- /SEARCH BOX -->
                <!-- PROFILE BOX -->
                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="@Model.BlogPost.CreatedBy.Avatar" alt="Image Placeholder" class="img-fluid">
                        <div class="bio-body">
                            <h2>@Model.BlogPost.CreatedBy.DisplayName</h2>
                            <p>@Model.BlogPost.CreatedBy.About</p>
                            <p><a href="@Model.BlogPost.CreatedBy.Website" class="btn btn-primary btn-sm" style="color: #fff;">Read More</a></p>
                            <p class="social">
                                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /PROFILE BOX -->
                <!-- POPULAR POSTS -->
                <div class="sidebar-box">
                    <h3 class="heading">Popular Posts</h3>
                    <div class="post-entry-sidebar">
                        <ul>
                            @foreach (var post in Model.RecentPosts)
                            {
                                <li>
                                    <a href="@Url.Action("BlogPost", "Home", new { link = post.Link })">
                                        <img src="@post.CoverImage" alt="Image placeholder" class="mr-4" style="width: 95px; height: 56px;">
                                        <div class="text">
                                            <h4>@post.Title</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">@post.DateCreatedUtc.ToString("MMM dd, yyyy")</span> &bullet;
                                                <span class="ml-2"><span class="fa fa-comments"></span> @post.CommentsCount</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- /POPULAR POSTS -->
                <!-- CATEGORIES -->
                <div class="sidebar-box">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">
                        @foreach (var category in Model.Categories)
                        {
                            <li><a href="#">@category.Name <span>(@category.Posts.Count)</span></a></li>
                        }
                    </ul>
                </div>
                <!-- /CATEGORIES -->
            </div>
            <!-- /SIDEBAR -->
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-3 ">Related Post</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var post in Model.RecentPosts) {
                <div class="col-md-6 col-lg-4">
                    <a href="@Url.Action("BlogPost", "Home", new { link = post.Link })" class="a-block d-flex align-items-center height-md" style="background-image: url('@post.CoverImage'); ">
                        <div class="text">
                            <div class="post-meta">
                                <span class="category">@post.PostCategory.Name</span>
                                <span class="mr-2">@post.DateCreatedUtc.ToString("MMM dd, yyyy") </span> &bullet;
                                <span class="ml-2"><span class="fa fa-comments"></span> @post.CommentsCount</span>
                            </div>
                            <h3>@post.Title</h3>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>


</section>



