@using Raptor.Services.Helpers
@using Raptor.Services.Users
@model DisplayPostViewModel
@inject IWorkContext WorkContext;
@inject IUserService UserService;
@{
    ViewBag.Title = Model.BlogPost.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-section py-lg">
    <div class="container">
        <div class="row blog-entries">
            <!-- MAIN BLOG POST -->
            <div class="col-md-12 col-lg-8 main-content">
                <h1 class="mb-4">@Model.BlogPost.Title</h1>
                <div class="post-meta">
                    <span class="category text-bold">@Model.PostCategoryName</span>
                    <span class="mr-2">@Model.BlogPost.DateCreatedUtc.ToString("MMMM dd, yyyy")</span> &bullet;
                    <span class="ml-2"><span class="fa fa-comments"></span> @Model.BlogPost.CommentsCount</span>
                </div>
                <div class="post-content-body">
                    @Html.Raw(Model.BlogPost.Content)
                </div>

                <!--- BLOG COMMENTS -->
                <div class="pt-5">
                    <h3 class="mb-5"><span id="commentsCount">@Model.BlogPost.CommentsCount</span> Comments</h3>
                    <ul class="comment-list" id="commentsList">
                        @if (Model.BlogPost.CommentsCount > 0) {
                            foreach (var comment in Model.BlogPost.Comments) {
                                 <li class="comment">
                                     <div class="vcard">
                                         <img src="@comment.Person.Avatar" alt="Image placeholder">
                                     </div>
                                     <div class="comment-body">
                                         <h3>@comment.Person.DisplayName</h3>
                                         <div class="meta">@comment.DateCreatedGmt.ToString("MMM dd, yyyy hh:mm tt")</div>
                                         <p>@comment.Content</p>
                                         <p><a href="#" class="reply">Reply</a></p>
                                     </div>
                                 </li>
                             }
                        }
                    </ul>

                    <!-- POST COMMENT -->
                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        @if (WorkContext.CurrentUser != null) {
                            <form asp-controller="Home" asp-action="PublishComment" id="commentForm" data-ajax="true" data-ajax-method="POST" class="p-5 bg-light">
                                <div class="form-group">Commenting as <b>@WorkContext.CurrentUser.DisplayName</b></div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <label class="text-danger small" asp-validation-for="CommentContent"></label>
                                    <textarea asp-for="CommentContent" name="commentContent" cols="30" rows="10" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn btn-primary">
                                </div>

                            </form>
                        }
                        else {
                            <p>You need to be registered and logged in to comment.</p>
                        }
                    </div>
                    <!-- /POST COMMENT -->
                </div>
                <!--- /BLOG COMMENTS -->

            </div>
            <!-- /MAIN BLOG POST -->
            
            <!-- SIDEBAR -->
            <div class="col-md-12 col-lg-4 sidebar">
                <!-- SEARCH BOX -->
                <div class="sidebar-box search-form-wrap">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>
                <!-- /SEARCH BOX -->
                <!-- PROFILE BOX -->
                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="@Model.BlogPost.CreatedBy.Avatar" alt="Image Placeholder" class="img-fluid">
                        <div class="bio-body">
                            <h2>@Model.BlogPost.CreatedBy.DisplayName</h2>
                            <p>@Model.BlogPost.CreatedBy.About</p>
                            <p><a target="_blank" href="@Model.BlogPost.CreatedBy.Website" class="btn btn-primary btn-sm" style="color: #fff;">Read More</a></p>
                            <p class="social">
                                @{ var social = UserService.GetSocialProfileById(Model.BlogPost.CreatedById); }
                                <a target="_blank" href="@social.FacebookUrl" class="p-2"><span class="fa fa-facebook"></span></a>
                                <a target="_blank" href="@social.TwitterUrl" class="p-2"><span class="fa fa-twitter"></span></a>
                                <a target="_blank" href="@social.InstagramUrl" class="p-2"><span class="fa fa-instagram"></span></a>
                                <a target="_blank" href="@social.YoutubeUrl" class="p-2"><span class="fa fa-youtube-play"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /PROFILE BOX -->
                <!-- POPULAR POSTS -->
                <div class="sidebar-box">
                    <h3 class="heading">Popular Posts</h3>
                    <div class="post-entry-sidebar">
                        <ul>
                            @foreach (var post in Model.RecentPosts)
                            {
                                <li>
                                    <a href="@Url.Action("BlogPost", "Home", new { link = post.Link })">
                                        <img src="@post.CoverImage" alt="Image placeholder" class="mr-4" style="width: 95px; height: 56px;">
                                        <div class="text">
                                            <h4>@post.Title</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">@post.DateCreatedUtc.ToString("MMM dd, yyyy")</span> &bullet;
                                                <span class="ml-2"><span class="fa fa-comments"></span> @post.CommentsCount</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- /POPULAR POSTS -->
                <!-- CATEGORIES -->
                <div class="sidebar-box">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">
                        @foreach (var category in Model.Categories)
                        {
                            <li><a href="#">@category.Name <span>(@category.Posts.Count)</span></a></li>
                        }
                    </ul>
                </div>
                <!-- /CATEGORIES -->
            </div>
            <!-- /SIDEBAR -->
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-3 ">Related Post</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var post in Model.RecentPosts) {
                <div class="col-md-6 col-lg-4">
                    <a href="@Url.Action("BlogPost", "Home", new { link = post.Link })" class="a-block d-flex align-items-center height-md" style="background-image: url('@post.CoverImage'); ">
                        <div class="text">
                            <div class="post-meta">
                                <span class="category">@post.PostCategory.Name</span>
                                <span class="mr-2">@post.DateCreatedUtc.ToString("MMM dd, yyyy") </span> &bullet;
                                <span class="ml-2"><span class="fa fa-comments"></span> @post.CommentsCount</span>
                            </div>
                            <h3>@post.Title</h3>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>


</section>

@section scripts {
    <script type="text/javascript">
        function commentHtml(content) {
            var html = '<li class="comment">\
                            <div class="vcard">\
                                <img src="@WorkContext.CurrentUser.Avatar" alt="Image placeholder">\
                            </div>\
                            <div class="comment-body">\
                                <h3>@WorkContext.CurrentUser.DisplayName</h3>\
                            <div class="meta">@DateTime.UtcNow.ToString("MMMM dd, yyyy hh:mm tt")</div>\
                            <p>'+content+'</p>\
                            <p><a href="#" class="reply">Reply</a></p>\
                            </div>\
                        </li>';

            return html;
        }
    </script>
    <script type="text/javascript">
        $(function() {
            $("#commentForm").submit(function(e) {
                e.preventDefault();

                var comment = $('[name="commentContent"]').val();
                var postUrl = '/publish/comment';
                var postedValues = { CommentContent: comment, BlogPostId: @Model.BlogPost.BlogPostId };

                $.post(postUrl, postedValues, function(result) {
                    var report = JSON.parse(JSON.stringify(result));

                    if (report.status) {
                        alert('Comment published successfully!');
                        $('#commentsList').append(commentHtml(comment));

                        var commentsCount = parseInt($('#commentsCount').text());
                        commentsCount += 1;

                        $('#commentsCount').text(commentsCount);
                    } else {
                        alert('An error occurred when commenting: ' + report.message);
                    }
                });
            });
        });
    </script>
}



