@model IEnumerable<Person>
@{
    ViewBag.Title = "View Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h4 class="card-title text-bold">Users</h4>
    </div>

    <div class="col-lg-6">
        <div class="pull-right">
            <a class="btn btn-primary" href="@Url.Action("create", "users", new { area = "admin" })"><i class="fa fa-plus position-left"></i>Add New</a>
            <button class="btn btn-secondary" type="button">
                <i class="fa fa-download position-left"></i>Export
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <table class="display datatable table table-stripped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email Address</th>
                            <th>Date Registered</th>
                            <th>Last Activity</th>
                            <th class="text-center">Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model) {
                            <tr>
                                <td>@user.BusinessEntityId</td>
                                <td>@user.DisplayName</td>
                                <td>@user.Username</td>
                                <td>@user.EmailAddress</td>
                                <td>@user.DateCreatedUtc.ToString("MMM dd, yyyy")</td>
                                <td>@user.DateLastLoginUtc.ToString("MMM dd, yyyy hh:mm tt")</td>
                                <td class="text-center">
                                    @if (!user.IsBlocked) {
                                        <span class="text-primary">
                                            <i class="fa fa-check"></i>
                                        </span>
                                    }
                                    else {
                                        <span class="text-danger">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-secondary" href="@Url.Action("Edit", "Users", new { id = @user.BusinessEntityId })">
                                        <i class="fa fa-pencil position-left"></i>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email Address</th>
                            <th>Date Registered</th>
                            <th>Last Activity</th>
                            <th class="text-center">Active</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="~/admin-theme/lib/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/admin-theme/assets/js/pages_datatables.min.js"></script>
    <!-- /PAGE LEVEL SCRIPTS -->
}

@section styles {
    <!-- PAGE LEVEL STYLESHEETS-->
    <link rel="stylesheet" href="~/admin-theme/lib/css/jquery.dataTables.min.css">
    <!-- /PAGE LEVEL STYLESHEETS-->
}

