@model RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<div class="row h-100">
    <div class="col-lg-12">
        <div class="register card auth-box mx-auto my-auto">
            <div class="card-block text-center">
                <div class="user-icon">
                    <i class="fa fa-user-circle-o"></i>
                </div>

                <h4 class="text-light">Register</h4>
                
                @if (!ViewData.ModelState.IsValid) {
                    <div class="alert alert-danger auth-box mx-auto my-auto" role="alert">
                        <span class="small">
                            @Html.ValidationSummary()
                        </span>
                    </div>
                }

                @using(Html.BeginForm("Register", "Auth", FormMethod.Post)) {
                    @Html.AntiForgeryToken()

                    <div class="user-details">
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger small" })
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="fa fa-user-o"></i>
                                </span>

                                @Html.TextBoxFor(m => m.Username, "", new {@class = "form-control", placeholder = "Username"})
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger small" })
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-user-md"></i>
                                        </span>

                                        @Html.TextBoxFor(m => m.FirstName, "", new {@class = "form-control", placeholder = "First Name"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger small" })
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">
                                        <i class="fa fa-user-md"></i>
                                    </span>

                                    @Html.TextBoxFor(m => m.LastName, "", new {@class = "form-control", placeholder = "Last Name"})
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger small" })
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-key"></i>
                                        </span>

                                        @Html.TextBoxFor(m => m.Password, "", new { type = "password", @class = "form-control", placeholder = "Enter Password" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    @Html.ValidationMessageFor(m => m.RepeatPassword, "", new { @class = "text-danger small" })
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-key"></i>
                                        </span>

                                        @Html.TextBoxFor(m => m.RepeatPassword, "", new { type = "password", @class = "form-control", placeholder = "Repeat Password" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger small" })
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-envelope-o"></i>
                                        </span>

                                        @Html.TextBoxFor(m => m.EmailAddress, "", new { @class = "form-control", placeholder = "Enter Email Address" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.ValidationMessageFor(m => m.RepeatEmailAddress, "", new { @class = "text-danger small" })
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-envelope-o"></i>
                                        </span>

                                        @Html.TextBoxFor(m => m.RepeatEmailAddress, "", new { @class = "form-control", placeholder = "Repeat Email Address" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-block">REGISTER</button>

                    <div class="user-links">
                        <a href="@Url.Action("login", "auth")" class="pull-left">Back To Login</a>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

